@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
        background-color: hsl(185, 75%, 39%);
        max-width: 1440px;
        max-height: 832px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        font-family: 'Kumbh Sans', sans-serif;
}

.circle {
        position: fixed;
        width: 1000px;
        height: 1000px;
}

.top-left {
        top: -632px;
        left: -190px;
        background: url('images/bg-pattern-top.svg') center center no-repeat;
        transform: rotate(36deg);
}

.bottom-right {
        bottom: -632px;
        right: -190px;
        background: url('images/bg-pattern-top.svg') center center no-repeat;
        transform: rotate(221deg);
}

#profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-width: 400px;
        border-style: none;
        border-radius: 12px;
        background-color: white;
        height: 400px;
}

#cover-bg {
        display: flex;
        border-style: none;
        border-radius: 12px 12px 0 0;
        width: 400px;
        height: 130px;
        background: linear-gradient(to right, hsl(185, 75%, 39%), hsl(229, 23%, 23%));
}

#profile-pic {
        height: 150px;
        width: 100%;
        margin-top: -140px;
        border: 8px solid white;
        border-radius: 50%;
}

#nameAge,
.amount {
        font-weight: 700;
        font-size: 18px;
}

span {
        font-weight: normal;
}

#location {
        margin-top: -16px;
}

#stats {
        display: flex;
        justify-content: space-between;
        gap: 60px;
}

p {
        text-align: center;
}

.amount {
        margin-bottom: -17px;
        font-size: 18px;
}

.line {
        border-top: 1px solid hsl(0, 0%, 59%);
        width: 350px;
        margin-bottom: -50px;
}

.attribution {
        padding-top: 30px;
        font-weight: 700;
        font-size: larger;
        position: relative;
}