body {
        background-color: hsl(185, 75%, 39%);
        max-width: 1440px;
}

.circle {
        position: fixed;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
}

.top-left {
        top: -690px;
        left: -423px;
        background: url('images/bg-pattern-top.svg') center center no-repeat;
        transform: rotate(90deg);
}

.bottom-right {
        bottom: -664px;
        right: -488px;
        background: url('images/bg-pattern-top.svg') center center no-repeat;
        transform: rotate(221deg);
}

#content {
        position: relative;
        z-index: 1;
        padding: 20px;
        color: white;
}
